/*-----Large Screen-----*/

@media only screen and (max-width : 1200px) {
    .navbar-header {
                        float: none;
                    }
                    .navbar-left,.navbar-right {
                        float: none !important;
                    }
                    .navbar-toggle {
                        display: block;
                    }
                    .navbar-collapse {
                        border-top: 1px solid transparent;
                        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
                    }
                    .navbar-fixed-top {
                        top: 0;
                        border-width: 0 0 1px;
                    }
                    .navbar-collapse.collapse {
                        display: none!important;
                    }
                    .navbar-nav {
                        float: none!important;
                        margin-top: 7.5px;
                    }
                    .navbar-nav>li {
                        float: none;
                    }
                    .navbar-nav>li>a {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .collapse.in{
                        display:block !important;
                    }
    
    
    }
    .head-section{height: 100vh}
    
    /*------Medium Screen (Tablet)----*/
    
    @media only screen and (max-width : 992px) {
    .navbar-right
    {
      background: linear-gradient(to right,#271A0E,#eaa421ba);
    }
    .head-section
    {
      background-image:linear-gradient(to right,#271A0E,#eaa421ba), url(../images/happy.jpg);
    }
    .video-section h3{font-size:20px;}
    .video-section p{font-size: 17px;}
    .team-section .member{margin-bottom: 30px;}
    }
    
    /*------Small Tablet-------*/
    
    @media only screen and (max-width:768px)
    {
      .head-section .head-info{text-align: center}
      .head-section .head-info h1{font-size: 25px}
      .head-section .head-info p{font-size: 18px}
      .screenshots-section .owl-nav
    {position: relative;top: 90px;}
      .testmonial-section .owl-nav
    {position: relative;top: 20px;}
    .gallery__slider::after
    {position: absolute;top: 49%;}
    .video-section h3{font-size:19px;}
    .video-section p{font-size: 15px;}
    }
    
    /*-------Mobile Screen-----*/
    
    @media only screen and (max-width : 480px) {
      .head-section .btn-default{margin-bottom: 10px}
      .head-section a{margin-left: 20px}
    .video-section h3{font-size:17px;}
    .video-section p{font-size: 14px;}